 <div class="containerbox">

    <!-- NavBar -->
    <div class="portfolioCardContent clearfix">
     <a href="/">  <h1 class="portfolioCardContent__title"> Renalde  Arendel.</h1></a>
      <div class="portfolioCardContent__paragraphWrap">
        <!-- <h2 class="portfolioCardContent__paragraphTitle">Idea Crafting.</h2> -->
        <p class="portfolioCardContent__paragraph">{{ description_header }}</p>
      </div>
    </div>
