   <div class="portfolioCard">
        <a href="{{ project.url }}">
          <div>
            <img class="portfolioCard__img" src="{{ project.data.image }}" alt="{{ project.data.imageAlt }}">
          </div>
          <div class="portfolioCard__about">
            <h1 class="portfolioCard__technologies text-center ">{{ project.data.title }} </h1>
          </div>
        </a>
      </div>