---
title: Renalde Arendel Portfolio
description_header: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos quis
          aperiam vero dicta, odio eaque illum, rerum veniam velit? Lorem ipsum dolor sit, amet consectetur adipisicing
          elit."
layout: 'base.njk'
---



 <div class="portfolioCardWrap clearfix">

    {% for project in collections.projects %}
      {% include "project-card.njk" %}
    {% endfor %}
   
    </div>